.feedback {
  display: grid;
  gap: 28px;
  width: 100%;
  margin: 0;
  align-content: flex-start;

  &__mail {
    padding-left: 36px;
  }

  &__politics {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: $dark_low;
  }
}
