.footer-list {
  display: grid;
  gap: 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: $dark_medium;
  margin: 0;
  margin-left: 104px;
  margin-top: -3px;

  @include for-desktop-up {
    margin-left: 20px;
    width: 100%;
  }

  @include for-phone-only {
    margin-left: 0;
    padding-left: 0;
  }

  &__link {
    color: inherit;
  }
}
