.modal {
  display: none;

  &--open {
    position: relative;
    position: absolute;
    z-index: 2;
    padding: 30px;
    right: 20px;
    top: 0;
    background-color: $white;
    border-radius: 15px;
    box-shadow: 8px 8px 8px rgba(0, 51, 91, 0.04),
      0px 24px 52px rgba(0, 51, 91, 0.02);
  }

  &__close-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 3;
    cursor: pointer;
    color: $accent;
    border: none;
    border-radius: 3px;
    right: 20px;
    top: 20px;

    &:hover {
      color: $dark_low;
      border: 1px dotted $accent_medium;
    }
  }
}
